body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #5656ff;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 20px;
  }
  
  #header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  #nav-bar {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
  }